<header class="topbar">
    <div class="topbar__container">
        <a  class="topbar__logo" href="{{ path('app_home') }}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250.287" height="30.427" viewBox="0 0 250.287 30.427">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_168" data-name="Rectangle 168" width="250.287" height="30.427" fill="#222034"/>
                    </clipPath>
                </defs>
                <g id="Groupe_445" data-name="Groupe 445" transform="translate(5)">
                    <g id="Groupe_72" data-name="Groupe 72" transform="translate(-5)" clip-path="url(#clip-path)">
                        <path id="Tracé_35" data-name="Tracé 35" d="M41.21.132,34.021,29.293H24.709l-2.777-12.7q-.082-.368-.245-1.225t-.388-1.96q-.225-1.1-.388-2.165t-.245-1.8q-.082.735-.265,1.8t-.388,2.165q-.2,1.1-.388,1.96t-.265,1.225l-2.818,12.7H7.229L0,.132H7.6l3.186,14.621q.123.531.327,1.532t.429,2.144q.225,1.144.429,2.226t.286,1.817q.163-1.225.429-2.818t.592-3.206q.327-1.613.633-3t.511-2.287L16.99.132H24.3l2.491,11.027q.2.858.511,2.267t.633,3.043q.327,1.634.613,3.227t.408,2.777q.123-1.021.408-2.532t.572-2.961q.286-1.45.449-2.185L33.613.132Z" transform="translate(0 0.316)" fill="#222034"/>
                        <path id="Tracé_36" data-name="Tracé 36" d="M41.123,14.989a19.875,19.875,0,0,1-1.45,7.9,11.06,11.06,0,0,1-4.595,5.248,15.682,15.682,0,0,1-8.128,1.879,15.5,15.5,0,0,1-8.046-1.879,11.272,11.272,0,0,1-4.636-5.269,19.544,19.544,0,0,1-1.491-7.923A19.025,19.025,0,0,1,14.29,7.066a11.34,11.34,0,0,1,4.636-5.207A15.618,15.618,0,0,1,26.992,0,15.708,15.708,0,0,1,35.1,1.858a10.98,10.98,0,0,1,4.574,5.228,19.875,19.875,0,0,1,1.45,7.9m-20.053,0A11.927,11.927,0,0,0,22.438,21.2a4.871,4.871,0,0,0,4.513,2.246q3.267,0,4.574-2.246a12.385,12.385,0,0,0,1.307-6.208A12.625,12.625,0,0,0,31.525,8.74a4.782,4.782,0,0,0-4.533-2.287A4.876,4.876,0,0,0,22.418,8.74a12.307,12.307,0,0,0-1.348,6.249" transform="translate(30.714 -0.001)" fill="#222034"/>
                        <path id="Tracé_37" data-name="Tracé 37" d="M32.213.132Q44.1.132,44.1,8.75a8.033,8.033,0,0,1-1.327,4.615,10.282,10.282,0,0,1-3.615,3.227l8.5,12.7H38.707L32.54,18.674h-2V29.293H22.656V.132Zm-.123,5.963H30.539v6.657h1.47a5.132,5.132,0,0,0,2.961-.8,3.2,3.2,0,0,0,1.164-2.839,2.747,2.747,0,0,0-.96-2.205,4.723,4.723,0,0,0-3.084-.817" transform="translate(54.454 0.316)" fill="#222034"/>
                        <path id="Tracé_38" data-name="Tracé 38" d="M55.694,29.293h-8.9l-5.759-11.15L38.7,19.532v9.761H30.78V.132H38.7V12.793a18.992,18.992,0,0,1,1.144-1.9q.653-.96,1.266-1.817L47.239.132h8.618L46.668,13.2Z" transform="translate(73.98 0.316)" fill="#222034"/>
                        <path id="Tracé_39" data-name="Tracé 39" d="M59.195,22.35a6.952,6.952,0,0,1-1.327,4.35,7.822,7.822,0,0,1-3.553,2.573,13.759,13.759,0,0,1-4.881.837,24.037,24.037,0,0,1-4.636-.368c-1.212-.245-2.308-.514-3.288-.817V27.741a26.647,26.647,0,0,0,3.574.96,22.742,22.742,0,0,0,4.431.388,12.309,12.309,0,0,0,4.248-.715,6.956,6.956,0,0,0,3.145-2.205,6.017,6.017,0,0,0,1.184-3.86,5.184,5.184,0,0,0-.98-3.267,7.133,7.133,0,0,0-2.818-2.083,46.229,46.229,0,0,0-4.329-1.634,29.533,29.533,0,0,1-4.207-1.634,7.607,7.607,0,0,1-2.879-2.328,6.462,6.462,0,0,1-1.041-3.88A6.519,6.519,0,0,1,43.082,3.4,7.528,7.528,0,0,1,46.431.949,12.822,12.822,0,0,1,51.108.132,18.806,18.806,0,0,1,54.845.5a18.214,18.214,0,0,1,3.615,1.144l-.449.939A16.125,16.125,0,0,0,54.4,1.459a19.379,19.379,0,0,0-3.369-.306,11.868,11.868,0,0,0-4,.653,6.591,6.591,0,0,0-2.961,2.022A5.433,5.433,0,0,0,42.939,7.4a5.555,5.555,0,0,0,1.021,3.512,6.916,6.916,0,0,0,2.757,2.063,38.337,38.337,0,0,0,3.819,1.409,37.4,37.4,0,0,1,4.533,1.736,7.893,7.893,0,0,1,3.043,2.369,6.3,6.3,0,0,1,1.082,3.86" transform="translate(99.769 0.316)" fill="#222034"/>
                        <path id="Tracé_40" data-name="Tracé 40" d="M55.41.252q4.86,0,7.454,1.858t2.593,6.106A8.944,8.944,0,0,1,64.15,13.3a7.273,7.273,0,0,1-3.7,2.8,16.623,16.623,0,0,1-5.616.858H49.651V29.413H48.589V.252Zm-.163,1.021h-5.6V15.935h5.105a16.934,16.934,0,0,0,5.024-.674,6.325,6.325,0,0,0,3.369-2.348,7.855,7.855,0,0,0,1.2-4.656q0-3.717-2.226-5.35T55.246,1.273" transform="translate(116.784 0.604)" fill="#222034"/>
                        <path id="Tracé_41" data-name="Tracé 41" d="M76.052,29.472,71.8,18.4H59.144l-4.37,11.068H53.63L65.147.229h1.021L77.2,29.472ZM71.4,17.383,66.9,5.212q-.245-.694-.572-1.572c-.218-.585-.466-1.259-.735-2.022q-.286.9-.653,1.858t-.694,1.777l-4.738,12.13Z" transform="translate(128.9 0.549)" fill="#222034"/>
                        <path id="Tracé_42" data-name="Tracé 42" d="M75.037,1.153a12.87,12.87,0,0,0-6.984,1.8,11.7,11.7,0,0,0-4.37,4.921A16.169,16.169,0,0,0,62.172,15a18.813,18.813,0,0,0,1.348,7.413,10.717,10.717,0,0,0,4.043,4.921,12.023,12.023,0,0,0,6.7,1.756,24.223,24.223,0,0,0,4.207-.327,20.139,20.139,0,0,0,3.308-.858v.939a18.655,18.655,0,0,1-3.227.9,22.482,22.482,0,0,1-4.288.368,13.132,13.132,0,0,1-7.27-1.9,11.745,11.745,0,0,1-4.431-5.289A19.543,19.543,0,0,1,61.069,15a16.884,16.884,0,0,1,1.675-7.617,12.844,12.844,0,0,1,4.8-5.309A13.927,13.927,0,0,1,75.037.132a17.289,17.289,0,0,1,7.27,1.511L81.9,2.664a12.42,12.42,0,0,0-3.472-1.2,19.255,19.255,0,0,0-3.39-.306" transform="translate(146.779 0.316)" fill="#222034"/>
                        <path id="Tracé_43" data-name="Tracé 43" d="M84.642,29.414H68.918V.252H84.642V1.273H69.979V13.526H83.825v1.021H69.979V28.392H84.642Z" transform="translate(165.644 0.605)" fill="#222034"/>
                    </g>
                </g>
            </svg>
        </a>
        
        <nav class="topbar__menu">
            <div class="menu__search">
                <svg id="Groupe_332" data-name="Groupe 332" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18.491" height="18.491" viewBox="0 0 18.491 18.491">
                    <defs>
                        <clipPath id="clip-path">
                        <rect id="Rectangle_179" data-name="Rectangle 179" width="18.491" height="18.491" fill="#dbe2e8"/>
                        </clipPath>
                    </defs>
                    <g id="Groupe_83" data-name="Groupe 83" clip-path="url(#clip-path)">
                        <path id="Tracé_45" data-name="Tracé 45" d="M8.017.023a8.017,8.017,0,0,0,0,16.035,7.924,7.924,0,0,0,3.8-.939,2.286,2.286,0,0,0,.3.3l2.291,2.291A2.336,2.336,0,0,0,17.9,14.6a2.3,2.3,0,0,0-.194-.194l-2.291-2.291a2.289,2.289,0,0,0-.367-.3,7.91,7.91,0,0,0,1.008-3.8A8.026,8.026,0,0,0,8.04,0Zm0,2.291A5.7,5.7,0,0,1,13.744,8.04a5.744,5.744,0,0,1-1.512,3.94l-.069.069a2.286,2.286,0,0,0-.3.3A5.732,5.732,0,0,1,7.994,13.79a5.727,5.727,0,1,1,0-11.453Z" transform="translate(0 0)" fill="#dbe2e8"/>
                    </g>
                </svg>
                <input type="text" placeholder="Rechercher sur workspace">
            </div>

            <div class="menu__dropdowns">
                {% if app.user and app.user.prestataire %}
                <a href="{{ path('dashboard_index', {type: 'service'}) }}" class="menu__dropdowns--btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="Tracé_69" data-name="Tracé 69" d="M16.667,20h-2.5a3.337,3.337,0,0,1-3.333-3.333v-2.5a3.337,3.337,0,0,1,3.333-3.333h2.5A3.337,3.337,0,0,1,20,14.167v2.5A3.337,3.337,0,0,1,16.667,20m-2.5-7.5A1.668,1.668,0,0,0,12.5,14.167v2.5a1.668,1.668,0,0,0,1.667,1.667h2.5a1.668,1.668,0,0,0,1.667-1.667v-2.5A1.668,1.668,0,0,0,16.667,12.5ZM5.833,20h-2.5A3.337,3.337,0,0,1,0,16.667v-2.5a3.337,3.337,0,0,1,3.333-3.333h2.5a3.337,3.337,0,0,1,3.333,3.333v2.5A3.337,3.337,0,0,1,5.833,20m-2.5-7.5a1.668,1.668,0,0,0-1.667,1.667v2.5a1.668,1.668,0,0,0,1.667,1.667h2.5A1.668,1.668,0,0,0,7.5,16.667v-2.5A1.668,1.668,0,0,0,5.833,12.5ZM16.667,9.167h-2.5a3.337,3.337,0,0,1-3.333-3.333v-2.5A3.337,3.337,0,0,1,14.167,0h2.5A3.337,3.337,0,0,1,20,3.333v2.5a3.337,3.337,0,0,1-3.333,3.333m-2.5-7.5A1.668,1.668,0,0,0,12.5,3.333v2.5A1.668,1.668,0,0,0,14.167,7.5h2.5a1.668,1.668,0,0,0,1.667-1.667v-2.5a1.668,1.668,0,0,0-1.667-1.667Zm-8.333,7.5h-2.5A3.337,3.337,0,0,1,0,5.833v-2.5A3.337,3.337,0,0,1,3.333,0h2.5A3.337,3.337,0,0,1,9.167,3.333v2.5A3.337,3.337,0,0,1,5.833,9.167m-2.5-7.5A1.668,1.668,0,0,0,1.667,3.333v2.5A1.668,1.668,0,0,0,3.333,7.5h2.5A1.668,1.668,0,0,0,7.5,5.833v-2.5A1.668,1.668,0,0,0,5.833,1.667Z" transform="translate(0 0)" fill="currentColor"/>
                    </svg>
                    Tableau de bord
                </a>
                <ul class="menu__dropdowns--dropdowns" id="user-menu">
                    <li>
                        <a href="{{ path('dashboard_index', {type: 'service'}) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <path id="Tracé_69" data-name="Tracé 69" d="M16.667,20h-2.5a3.337,3.337,0,0,1-3.333-3.333v-2.5a3.337,3.337,0,0,1,3.333-3.333h2.5A3.337,3.337,0,0,1,20,14.167v2.5A3.337,3.337,0,0,1,16.667,20m-2.5-7.5A1.668,1.668,0,0,0,12.5,14.167v2.5a1.668,1.668,0,0,0,1.667,1.667h2.5a1.668,1.668,0,0,0,1.667-1.667v-2.5A1.668,1.668,0,0,0,16.667,12.5ZM5.833,20h-2.5A3.337,3.337,0,0,1,0,16.667v-2.5a3.337,3.337,0,0,1,3.333-3.333h2.5a3.337,3.337,0,0,1,3.333,3.333v2.5A3.337,3.337,0,0,1,5.833,20m-2.5-7.5a1.668,1.668,0,0,0-1.667,1.667v2.5a1.668,1.668,0,0,0,1.667,1.667h2.5A1.668,1.668,0,0,0,7.5,16.667v-2.5A1.668,1.668,0,0,0,5.833,12.5ZM16.667,9.167h-2.5a3.337,3.337,0,0,1-3.333-3.333v-2.5A3.337,3.337,0,0,1,14.167,0h2.5A3.337,3.337,0,0,1,20,3.333v2.5a3.337,3.337,0,0,1-3.333,3.333m-2.5-7.5A1.668,1.668,0,0,0,12.5,3.333v2.5A1.668,1.668,0,0,0,14.167,7.5h2.5a1.668,1.668,0,0,0,1.667-1.667v-2.5a1.668,1.668,0,0,0-1.667-1.667Zm-8.333,7.5h-2.5A3.337,3.337,0,0,1,0,5.833v-2.5A3.337,3.337,0,0,1,3.333,0h2.5A3.337,3.337,0,0,1,9.167,3.333v2.5A3.337,3.337,0,0,1,5.833,9.167m-2.5-7.5A1.668,1.668,0,0,0,1.667,3.333v2.5A1.668,1.668,0,0,0,3.333,7.5h2.5A1.668,1.668,0,0,0,7.5,5.833v-2.5A1.668,1.668,0,0,0,5.833,1.667Z" transform="translate(0 0)" fill="currentColor"/>
                            </svg>
                            Tableau de bord
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17.858" viewBox="0 0 20 17.858">
                                <path id="Tracé_72" data-name="Tracé 72" d="M10.017,17.858H10a12.131,12.131,0,0,1-6.034-1.6.715.715,0,0,1-.354-.538,9.709,9.709,0,0,1-3.123-.526.713.713,0,0,1-.475-.616A3.571,3.571,0,0,1,4.967,11,6.39,6.39,0,0,1,10,8.572H10A6.389,6.389,0,0,1,15.032,11a3.594,3.594,0,0,1,1.685-.273,3.571,3.571,0,0,1,3.272,3.849.715.715,0,0,1-.476.616,9.245,9.245,0,0,1-3.124.526h0a.712.712,0,0,1-.354.538,12.106,12.106,0,0,1-6.017,1.6M5,15.195a10.982,10.982,0,0,0,5.013,1.234A10.678,10.678,0,0,0,15,15.195c0-.064,0-.129,0-.194v-.033a4.968,4.968,0,0,0-.783-2.657h0A4.971,4.971,0,0,0,10,10H10a4.971,4.971,0,0,0-4.21,2.307l-.011.016h0l-.009.014A4.966,4.966,0,0,0,5,14.966c0,.015,0,.03,0,.045,0,.061,0,.123,0,.184M1.449,14a7.438,7.438,0,0,0,2.161.29,6.385,6.385,0,0,1,.584-2.052A2.142,2.142,0,0,0,1.449,14m14.941.29a7.442,7.442,0,0,0,2.164-.292A2.147,2.147,0,0,0,16.6,12.148a2.163,2.163,0,0,0-.8.086,6.384,6.384,0,0,1,.584,2.052m.039-5a2.857,2.857,0,1,1,2.857-2.857,2.86,2.86,0,0,1-2.857,2.857m0-4.286a1.429,1.429,0,1,0,1.429,1.429A1.43,1.43,0,0,0,16.428,5M3.57,9.286A2.857,2.857,0,1,1,6.428,6.429,2.86,2.86,0,0,1,3.57,9.286M3.57,5A1.429,1.429,0,1,0,5,6.429,1.43,1.43,0,0,0,3.57,5M10,7.143a3.572,3.572,0,1,1,3.572-3.572A3.576,3.576,0,0,1,10,7.143m0-5.714a2.143,2.143,0,1,0,2.143,2.143A2.146,2.146,0,0,0,10,1.429" transform="translate(-0.001)" fill="currentColor"/>
                            </svg>
                            prestataires
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15.05" viewBox="0 0 20 15.05">
                                <path id="Tracé_73" data-name="Tracé 73" d="M12.366,0a4.655,4.655,0,0,0-1.206.134A4.3,4.3,0,0,0,9.889.715,4.368,4.368,0,0,0,8.3.067a12.956,12.956,0,0,0-1.9-.021A6.4,6.4,0,0,0,4.219.8a9.334,9.334,0,0,1-3.5.647H0V8.327l.4.2,1.316.648L6.406,14.4l.022.022a2.438,2.438,0,0,0,1.9.625,3.755,3.755,0,0,0,1.719-.513C11.1,13.9,13.973,11.9,13.973,11.9l.067-.045.045-.044a2.491,2.491,0,0,0,.625-1.183l2.745-1.384,2.054-.691L20,8.393V1.452h-.714a9.175,9.175,0,0,1-3.5-.67A6.287,6.287,0,0,0,13.593.023C13.157.014,12.761,0,12.366,0Zm.021,1.429c.321,0,.693.014,1.161.022.075,0,.761.3,1.719.67a11.209,11.209,0,0,0,3.3.691V7.367l-1.652.559h-.044l-.045.021L14.666,9.041a2.534,2.534,0,0,0-.536-.893l-.045-.067L11.049,4.354,10.6,3.8l-.559.446L8.125,5.8a1.514,1.514,0,0,1-1.7.067,1.333,1.333,0,0,1-.268-.179l3.259-2.7.044-.044A4.807,4.807,0,0,1,11.54,1.519a3.311,3.311,0,0,1,.849-.089Zm-4.976.022a5.183,5.183,0,0,1,.714.022,3.237,3.237,0,0,1,.581.246c-.073.067-.126.106-.2.179l-.044.045L4.554,5.179l-.6.491.536.558A4.728,4.728,0,0,0,5.8,7.166a3.116,3.116,0,0,0,3.147-.179L9,6.942,10.38,5.8l2.634,3.236.022.045.022.021a1.178,1.178,0,0,1,0,1.675c-.006.005.006.016,0,.021s-.1.059-.111.068L12.009,9.6l-1.161.849.916,1.227c-.371.251-.539.383-.938.648l-.959-1.3-1.161.849L9.621,13.1c-.081.05-.249.162-.313.2a2.576,2.576,0,0,1-1.049.312,1.174,1.174,0,0,1-.781-.179l-.022-.022L2.679,8.126,2.59,8.014l-1.161-.58V2.813a11.521,11.521,0,0,0,3.3-.669c.954-.366,1.636-.667,1.719-.67l.96-.022Z" transform="translate(0 -0.001)" fill="currentColor"/>
                            </svg>
                            Services
                        </a>
                        <ul class="dropdowns2">
                        {% for service in categories %}
                            <li>
                                <a href="{{ path('services_show', {id: service.id}) }}">{{ service }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            {% else %}
                <div class="menu__dropdowns--btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15.05" viewBox="0 0 20 15.05">
                        <path id="Tracé_73" data-name="Tracé 73" d="M12.366,0a4.655,4.655,0,0,0-1.206.134A4.3,4.3,0,0,0,9.889.715,4.368,4.368,0,0,0,8.3.067a12.956,12.956,0,0,0-1.9-.021A6.4,6.4,0,0,0,4.219.8a9.334,9.334,0,0,1-3.5.647H0V8.327l.4.2,1.316.648L6.406,14.4l.022.022a2.438,2.438,0,0,0,1.9.625,3.755,3.755,0,0,0,1.719-.513C11.1,13.9,13.973,11.9,13.973,11.9l.067-.045.045-.044a2.491,2.491,0,0,0,.625-1.183l2.745-1.384,2.054-.691L20,8.393V1.452h-.714a9.175,9.175,0,0,1-3.5-.67A6.287,6.287,0,0,0,13.593.023C13.157.014,12.761,0,12.366,0Zm.021,1.429c.321,0,.693.014,1.161.022.075,0,.761.3,1.719.67a11.209,11.209,0,0,0,3.3.691V7.367l-1.652.559h-.044l-.045.021L14.666,9.041a2.534,2.534,0,0,0-.536-.893l-.045-.067L11.049,4.354,10.6,3.8l-.559.446L8.125,5.8a1.514,1.514,0,0,1-1.7.067,1.333,1.333,0,0,1-.268-.179l3.259-2.7.044-.044A4.807,4.807,0,0,1,11.54,1.519a3.311,3.311,0,0,1,.849-.089Zm-4.976.022a5.183,5.183,0,0,1,.714.022,3.237,3.237,0,0,1,.581.246c-.073.067-.126.106-.2.179l-.044.045L4.554,5.179l-.6.491.536.558A4.728,4.728,0,0,0,5.8,7.166a3.116,3.116,0,0,0,3.147-.179L9,6.942,10.38,5.8l2.634,3.236.022.045.022.021a1.178,1.178,0,0,1,0,1.675c-.006.005.006.016,0,.021s-.1.059-.111.068L12.009,9.6l-1.161.849.916,1.227c-.371.251-.539.383-.938.648l-.959-1.3-1.161.849L9.621,13.1c-.081.05-.249.162-.313.2a2.576,2.576,0,0,1-1.049.312,1.174,1.174,0,0,1-.781-.179l-.022-.022L2.679,8.126,2.59,8.014l-1.161-.58V2.813a11.521,11.521,0,0,0,3.3-.669c.954-.366,1.636-.667,1.719-.67l.96-.022Z" transform="translate(0 -0.001)" fill="currentColor"/>
                    </svg>
                    <span>Services</span>
                </div>
                <ul class="menu__dropdowns--dropdowns" id="user-menu">
                {% for service in categories %}
                    <li>
                        <a href="{{ path('services_show', {id: service.id}) }}">{{ service }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>

            {% if app.user %}{% else %}
            <div class="menu__connexion">
                <a  id="connexion-btn" href="{{ path('app_login') }}">Connexion</a>
            </div>
            {% endif %}

            {% if app.user and app.user.prestataire %}{% else %}
            <div class="menu__prestataire">
                <a href="{{ path('app_register', {status: 'prestataire'}) }}">Devenez prestataire</a>
            </div>
            {% endif %}

            {% if app.user %}
            <div class="menu-profil">
                {% if image.nom is defined %}
                <div class="profil-btn avatar" id="profil-btn">
                    <img src="{{ asset('assets/uploads/' ~ app.user.typeUtilisateur ~ '/' ~ image.nom) }}" alt="">
                </div>
                {% else %}
                <div class="profil-btn avatar" id="profil-btn">
                    {{ app.user.typeUtilisateur == 'Internaute' ? app.user.internaute|slice(0, 1) : app.user.prestataire|slice(0, 1) }}
                </div>
                {% endif %}
                <div class="menu-profil__content" id="profil-content">
                    <ul>
                        <li>
                            {% if image.nom is defined %}
                            <div class="box1 avatar">
                                <img src="{{ asset('assets/uploads/' ~ app.user.typeUtilisateur ~ '/' ~ image.nom) }}" alt="">
                            </div>
                            {% else %}
                            <div class="box1 avatar">
                                {{ app.user.typeUtilisateur == 'Internaute' ? app.user.internaute|slice(0, 1) : app.user.prestataire|slice(0, 1) }}
                            </div>
                            {% endif %}
                            <div class="box2">
                                <p>{{ app.user.internaute ? app.user.internaute : app.user.prestataire }}</p>
                                <p>{{ app.user.email }}</p>
                            </div>
                            <a href="{{ path('parametre_index', {id: app.user.id}) }}">Gérer votre compte</a>
                        </li>
                        <li>
                            <div class="box1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M363 176L246 464h47.24l24.49-58h90.54l24.49 58H480Zm-26.69 186L363 279.85L389.69 362ZM272 320c-.25-.19-20.59-15.77-45.42-42.67c39.58-53.64 62-114.61 71.15-143.33H352V90H214V48h-44v42H32v44h219.25c-9.52 26.95-27.05 69.5-53.79 108.36c-32.68-43.44-47.14-75.88-47.33-76.22L143 152l-38 22l6.87 13.86c.89 1.56 17.19 37.9 54.71 86.57c.92 1.21 1.85 2.39 2.78 3.57c-49.72 56.86-89.15 79.09-89.66 79.47L64 368l23 36l19.3-11.47c2.2-1.67 41.33-24 92-80.78c24.52 26.28 43.22 40.83 44.3 41.67L255 362Z"/>
                                </svg>
                            </div>
                            <div class="box2">
                                language
                            </div>
                        </li>

                        <li>
                            <div class="box1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48">
                                    <path fill="currentColor" d="M24 4c.69 0 1.25.56 1.25 1.25v2.5a1.25 1.25 0 1 1-2.5 0v-2.5c0-.69.56-1.25 1.25-1.25Zm.046 30.02a9.974 9.974 0 0 0 9.975-9.975c0-5.509-4.466-9.975-9.975-9.975c-5.51 0-9.975 4.466-9.975 9.976c0 5.509 4.466 9.975 9.975 9.975Zm0-2.5a7.475 7.475 0 1 1 0-14.95a7.475 7.475 0 0 1 0 14.95Zm18.704-6.27a1.25 1.25 0 0 0 0-2.5h-2.5a1.25 1.25 0 0 0 0 2.5h2.5ZM24 39c.69 0 1.25.56 1.25 1.25v2.5a1.25 1.25 0 0 1-2.5 0v-2.5c0-.69.56-1.25 1.25-1.25ZM7.75 25.25a1.25 1.25 0 0 0 0-2.5h-2.5a1.25 1.25 0 1 0 0 2.5h2.5ZM9.367 9.365a1.25 1.25 0 0 1 1.767 0l2.5 2.5a1.25 1.25 0 1 1-1.767 1.767l-2.5-2.5a1.25 1.25 0 0 1 0-1.767Zm1.767 29.268a1.25 1.25 0 0 1-1.767-1.768l2.5-2.5a1.25 1.25 0 1 1 1.767 1.768l-2.5 2.5Zm27.5-29.268a1.25 1.25 0 0 0-1.767 0l-2.5 2.5a1.25 1.25 0 1 0 1.767 1.767l2.5-2.5a1.25 1.25 0 0 0 0-1.767Zm-1.767 29.268a1.25 1.25 0 0 0 1.767-1.768l-2.5-2.5a1.25 1.25 0 1 0-1.767 1.768l2.5 2.5Z"/>
                                </svg>
                            </div>
                            <div class="box2">
                                apparence
                            </div>
                        </li>
                        <li>
                            <div class="box1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="m16 17l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5ZM3 21V3h9v2H5v14h7v2Z"/>
                                </svg>
                            </div>
                            <div class="box2">
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <span>Règles de confidentialité</span>
                        <span>&nbsp;•&nbsp;</span>
                        <span>Conditions d'utilisation</span>
                    </div>
                </div>
            </div>
            {% else %}{% endif %}
        </nav>
    </div>
</header>
{# {{ dump(app.user.prestataire) }} #}