{% extends 'base.html.twig' %}

{% block title %}CategorieDeServices{% endblock %}

{% block body %}
<section class="categ">
    <div class="banner-categ">
        {% for image in categorie.images %}
        <img src="{{ asset('assets/uploads/categories/' ~ image.nom) }}" alt="">
        {% endfor %}
    </div>
    <div class="content-categ">
        <div class="sidebar-categ">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15.05" viewBox="0 0 20 15.05">
                    <path id="Tracé_73" data-name="Tracé 73" d="M12.366,0a4.655,4.655,0,0,0-1.206.134A4.3,4.3,0,0,0,9.889.715,4.368,4.368,0,0,0,8.3.067a12.956,12.956,0,0,0-1.9-.021A6.4,6.4,0,0,0,4.219.8a9.334,9.334,0,0,1-3.5.647H0V8.327l.4.2,1.316.648L6.406,14.4l.022.022a2.438,2.438,0,0,0,1.9.625,3.755,3.755,0,0,0,1.719-.513C11.1,13.9,13.973,11.9,13.973,11.9l.067-.045.045-.044a2.491,2.491,0,0,0,.625-1.183l2.745-1.384,2.054-.691L20,8.393V1.452h-.714a9.175,9.175,0,0,1-3.5-.67A6.287,6.287,0,0,0,13.593.023C13.157.014,12.761,0,12.366,0Zm.021,1.429c.321,0,.693.014,1.161.022.075,0,.761.3,1.719.67a11.209,11.209,0,0,0,3.3.691V7.367l-1.652.559h-.044l-.045.021L14.666,9.041a2.534,2.534,0,0,0-.536-.893l-.045-.067L11.049,4.354,10.6,3.8l-.559.446L8.125,5.8a1.514,1.514,0,0,1-1.7.067,1.333,1.333,0,0,1-.268-.179l3.259-2.7.044-.044A4.807,4.807,0,0,1,11.54,1.519a3.311,3.311,0,0,1,.849-.089Zm-4.976.022a5.183,5.183,0,0,1,.714.022,3.237,3.237,0,0,1,.581.246c-.073.067-.126.106-.2.179l-.044.045L4.554,5.179l-.6.491.536.558A4.728,4.728,0,0,0,5.8,7.166a3.116,3.116,0,0,0,3.147-.179L9,6.942,10.38,5.8l2.634,3.236.022.045.022.021a1.178,1.178,0,0,1,0,1.675c-.006.005.006.016,0,.021s-.1.059-.111.068L12.009,9.6l-1.161.849.916,1.227c-.371.251-.539.383-.938.648l-.959-1.3-1.161.849L9.621,13.1c-.081.05-.249.162-.313.2a2.576,2.576,0,0,1-1.049.312,1.174,1.174,0,0,1-.781-.179l-.022-.022L2.679,8.126,2.59,8.014l-1.161-.58V2.813a11.521,11.521,0,0,0,3.3-.669c.954-.366,1.636-.667,1.719-.67l.96-.022Z" transform="translate(0 -0.001)" fill="currentColor"/>
                </svg>
                <span>Services</span>
            </p>
            <ul>
                {% for service in categories %}
                <li>
                    <a href="{{ path('services_show', {id: service.id}) }}">{{ service }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="text-categ">
            <h2>{{ categorie }}</h2>
            <p>{{ categorie.description }}</p>

            {# {{ dump(categorie.images) }} #}
        </div>
    </div>
</section>

{% endblock %}
